/*reset*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

html, body {
    margin: 0 !important;
}

img {
    border: 0;
}

.clear {
    clear: both;
}

:focus {
    outline: 0;
}

a {
    outline: none;
    color: #00aeef;
    text-decoration: none;
}

    a:hover {
        color: #fff;
    }

ul, li {
    list-style: none;
}
@font-face {
        font-family: 'EurostileLTStdDemi';
    src: url('../fonts/EurostileLTStdDemi.eot'),
         url('../fonts/EurostileLTStdDemi.eot') format('embedded-opentype'), url('../fonts/EurostileLTStdDemi.woff2') format('woff2'), url('../fonts/EurostileLTStdDemi.woff') format('woff'), url('../fonts/EurostileLTStdDemi.ttf') format('truetype'), url('../fonts/EurostileLTStdDemi.svg#EurostileLTStdDemi') format('svg');
}
/*@font-face {
    font-family: 'EurostileLTStdDemi';
    src: url('../fonts/EurostileLTStdDemi.eot');
    src: url('../fonts/EurostileLTStdDemi.eot') format('embedded-opentype'), url('../fonts/EurostileLTStdDemi.woff2') format('woff2'), url('../fonts/EurostileLTStdDemi.woff') format('woff'), url('../fonts/EurostileLTStdDemi.ttf') format('truetype'), url('../fonts/EurostileLTStdDemi.svg#EurostileLTStdDemi') format('svg');
}*/
@font-face {
        font-family: 'SansationRegular';
    src: url('../fonts/SansationRegular.eot'),
         url('../fonts/SansationRegular.eot') format('embedded-opentype'), url('../fonts/SansationRegular.html') format('woff2'), url('../fonts/SansationRegular.woff') format('woff'), url('../fonts/SansationRegular.ttf') format('truetype'), url('../fonts/SansationRegular.svg#SansationRegular') format('svg');
}
/*@font-face {
    font-family: 'SansationRegular';
    src: url('../fonts/SansationRegular.eot');
    src: url('../fonts/SansationRegular.eot') format('embedded-opentype'), url('../fonts/SansationRegular.html') format('woff2'), url('../fonts/SansationRegular.woff') format('woff'), url('../fonts/SansationRegular.ttf') format('truetype'), url('../fonts/SansationRegular.svg#SansationRegular') format('svg');
}*/

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfontd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-regular-webfont.html') format('woff2'), url('../fonts/roboto-regular-webfont.woff') format('woff'), url('../fonts/roboto-regular-webfont.ttf') format('truetype'), url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light-webfontd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Light-webfont.html') format('woff2'), url('../fonts/Roboto-Light-webfont.woff') format('woff'), url('../fonts/Roboto-Light-webfont.ttf') format('truetype'), url('../fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

.main_wrapper {
    float: left;
    width: 100%;
}

.left_baner {
    float: left;
    width: 75%;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
}

    .left_baner .owl-item img {
        width: 100%;
        height: 100vh;
        display: block;
    }

.slider_controls {
    left: 0;
    right: 0;
    margin: auto;
    width: 60px;
    bottom: 8%;
    position: absolute;
}

#next1 {
    float: right;
    width: 24px;
    background: url(../images/next.png) 0 0 no-repeat;
    height: 25px;
    margin: 0px;
    text-indent: -100000px;
    cursor: pointer;
}

#prev1 {
    float: left;
    width: 24px;
    background: url(../images/prev.png) 0 0 no-repeat;
    height: 25px;
    margin: 0 -6px 0 0px;
    text-indent: -100000px;
    cursor: pointer;
}

#next1:hover {
    background: url(../images/next-hover.png) 0 0 no-repeat;
}

#prev1:hover {
    background: url(../images/prev-hover.png) 0 0 no-repeat;
}

.tags {
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 15%;
    width: 60%;
    margin: auto;
    color: #fff;
}

    .tags h2 {
        /*font-family: 'EurostileLTStdDemi';
        text-transform: uppercase;
        font-size: 35px;
        letter-spacing: 4px;*/
            font-family: 'EurostileLTStdDemi';
    text-transform: uppercase;
    font-size: 23px;
    letter-spacing: 3px;
    }

    .tags h3 {
        font-family: 'SansationRegular';
        font-size: 20px;
        font-weight: normal;
    }

.top_box {
    float: left;
    width: 75%;
    position: relative;
    z-index: 999;
    text-align: center;
    margin-top: 20px;
}
.top_box{
         background-color: rgba(238, 238, 238, 0.52);
    margin-top: 0px;
    opacity: 1;

}
    .top_box .phone {
        font-family: 'EurostileLTStdDemi';
        font-size: 25px;
        color: #7b1314;
        position: absolute;
        top: 10px;
        right: 3%;
    }

        .top_box .phone img {
            display: inline-block;
            vertical-align: middle;
        }

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 75%;
    z-index: 9999;
    height: 20px;
    color: #fefefe;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    background-color:rgba(204, 204, 204, 0.26);
}

.prv {
    float: left;
    width: 15%;
    text-align: left;
    margin-left: 3%;
    margin-top:4px;
}

.copy {
    float: left;
    width: 60%;
    text-align: center;
}

.marked {
    float: right;
    width: 30%;
    text-align: right;
    margin-right: 3%;
      margin-top:4px;
}

footer a {
    color: #fff;
}

.right_tabs {
    float: right;
    width: 25% !important;
    background: #999;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    background: url(../images/right_bg.jpg) 0 0 repeat;
}

.tabbing_box {
    float: left;
    width: 100%;
}

.tabs_btn li {
    float: left;
    width: 100%;
    border-bottom: 1px solid #adadad;
}

.tabs_btn li {
    float: left;
    width: 25%;
    font-family: 'robotoregular';
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
}

    .tabs_btn li a {
        float: left;
        width: 100%;
        color: #818181;
        font-size: 12px;
        padding: 10px 0;
    }

        .tabs_btn li a:hover, .tabs_btn li a.active {
            background: #7e8386;
            color: #fff;
            text-decoration: none;
        }

.tabs_details {
    float: left;
    width: 100%;
}

.tabbing_box .hide {
    display: none;
}

/* -------------tab1--------------------- */
.tabs {
    float: left;
    width: 90%;
    padding: 20px 5%;
}

.row {
    float: left;
    width: 100%;
    text-align: center;
}

.logo1 {
    text-align: center;
}

.tag1 {
    color: #000;
    text-transform: uppercase;
    font-family: 'EurostileLTStdDemi';
    font-size: 20px;
    margin-top: 20px;
}

.tag2 {
    color: #626262;
    font-family: 'robotolight';
    font-size: 20px;
    margin-bottom: 20px;
}

p {
    color: #626262;
    font-family: 'robotolight';
    font-size: 14px;
    line-height: 19px;
    padding: 10px 0;
        text-align: justify !important;
}

h1 {
    font-family: 'robotoregular' !important;
    font-size: 24px !important;
    font-weight: bold !important;
    color: #d9a74f !important;
    text-transform: uppercase !important;
}

.list {
    float: left;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

    .list li {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        width: 32%;
        color: #626262;
        font-family: 'robotolight';
        font-size: 14px;
        text-transform: uppercase;
        border-right: 1px solid #dddddd;
    }

        .list li p {
            padding: 2px 0;
        }

        .list li:last-child {
            border: 0;
        }

        .list li p.numb {
            color: #535353;
            font-size: 24px;
            text-transform: uppercase;
            font-family: 'EurostileLTStdDemi';
        }

#tab3 h1 img {
    display: inline-block;
    vertical-align: middle;
}

.map {
    float: left;
    width: 100%;
    margin: 20px 0;
}

    .map img {
        width: 100%;
    }

.you_tub {
    float: left;
    width: 100%;
    position: relative;
    margin: 50px 0 20px 0;
}

.grey_bg {
    background: #cccccc none repeat scroll 0 0;
    float: left;
    height: 175px;
    left: 10%;
    position: absolute;
    top: -30px;
    width: 80%;
    z-index: -1;
}

.slider {
    float: left;
    width: 100%;
    position: relative;
    margin: 20px 0;
}

    .slider li {
        padding: 0px 0 0px 0;
    }

    .slider .slider_controls {
        bottom: 2%;
        float: right;
        left: inherit;
        position: absolute;
        right: 18px;
        width: 60px;
            top: 210px;
    }

#next2 {
    float: right;
    width: 25px;
    background: url(../images/next2.png) 0 0 no-repeat;
    height: 25px;
    margin: 0px;
    text-indent: -100000px;
    cursor: pointer;
}

#prev2 {
    float: left;
    width: 25px;
    background: url(../images/prev2.png) 0 0 no-repeat;
    height: 25px;
    margin: 0 -6px 0 0px;
    text-indent: -100000px;
    cursor: pointer;
}

#next2:hover {
    background: url(../images/next2-hover.png) 0 0 no-repeat;
}

#prev2:hover {
    background: url(../images/prev2-hover.png) 0 0 no-repeat;
}

.red_bg {
    position: relative;
    float: left;
    left: 20%;
    top: 0;
    width: 45%;
    height: 10px;
    background: #eb494f;
    z-index: -1;
}

.red_bg1 {
    position: relative;
    left: 20%;
    float: left;
    bottom: 5px;
    width: 45%;
    height: auto;
    background: #eb494f;
    z-index: -1;
    color: #fff;
}

    .red_bg1 p {
        font-family: 'EurostileLTStdDemi';
        text-transform: uppercase;
        padding: 2px 0 0 0;
        color: #fff;
        font-size: 12px;
    }

    .red_bg1 .tag4 {
        font-family: 'robotolight';
        font-size: 12px;
        font-style: italic;
        line-height: 10px;
    }

/*#tab2 .tag1 {
    letter-spacing: 6px;
    margin-bottom: 20px;
    margin-top: 4px;
}*/

#tab2 .tag3 {
    color: #000;
    text-transform: uppercase;
    font-family: 'EurostileLTStdDemi';
    font-size: 14px;
    margin-top: 10px;
    word-spacing: 5px;
    letter-spacing: 2px;
}

.imgs {
    float: left;
    width: 100%;
    text-align: center;
    position: relative;
    margin: 10px 0;
}

    .imgs .abos_box {
        position: absolute;
        left: 0;
        width: 90%;
        margin: auto;
        right: 0;
        top: 0;
    }

.leftimg {
    display: table;
    float: left;
    width: 100%;
    margin: 20px 0 0 0;
}

.rgttext img {
    display: table-cell;
}

.rgttext {
    display: table-cell;
    vertical-align: middle;
}

    .rgttext p {
        padding: 0;
        color: #4b4b4b;
        font-family: 'robotoregular';
        font-size: 14px;
    }

.mt0 {
    margin: 0;
}

.right_scroll1 {
    overflow: auto;
    position: relative;
    max-width: 100%;
    height: 550px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.right_scroll2 {
    overflow: auto;
    position: relative;
    max-width: 100%;
    height: 550px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.right_scroll3 {
    overflow: auto;
    position: relative;
    max-width: 100%;
    height: 550px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.right_scroll4 {
    overflow: auto;
    position: relative;
    max-width: 100%;
    height: 550px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*#tab4 p {
    text-align: justify;
    margin: 8px 0px 0px 6px;
}*/

#tab3 p {
    text-align: justify;
    margin: 8px 0px 0px 6px;
}

#tab1, #tab5 .onep {
    /*padding: 3% 0% 3% 5%;*/
    padding:2% 0% 3% 5%;
    text-align: justify;
 
}
/*#tab2, #tab4,  #tab3 {
      text-align: justify;
    margin: 0px 0px 0px 0px;
        padding: 2% 0% 3% 2%;
}*/

/* ---------------------------  end tabs ----------------------------- */

.form_box {
    position: absolute;
    bottom: 0;
    background: #7e8386;
    width: 100%;
    padding: 10px 5% 10px 5%;
    z-index: 999;
}

    .form_box h2 {
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-family: 'EurostileLTStdDemi';
        font-size: 18px;
        letter-spacing: 3px;
        font-weight: normal;
    }

.formMain {
    float: left;
    width: 100%;
    margin-top: 20px;
}

.form h4 {
    font-size: 27px;
    color: #fff;
    font-weight: normal;
}

.labelclass {
    display: none;
}

.block2, .block3, .block4, .block5 {
    float: left;
    width: 100%;
    margin-bottom: 5px;
    list-style: none;
}

.left_form {
    float: left;
    width: 48%;
}

.right_form {
    float: right;
    width: 100%;
}

input[type="text"], select, textarea {
    float: left;
    width: 100%;
    background-color: #fff;
    border: 0;
    border-radius: 3px;
    padding: 0 0 0 2%;
    box-sizing: border-box;
    height: 35px;
    color: #545455;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.045em;
   
    font-family: 'robotolight';
    color: #7c7c7c;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff url(../images/down-arrow.html) 96% 16px no-repeat;
}

textarea {
    padding-top: 5px;
    font-size: 15px;
    height: 75px;
    resize: none;
    font-size: 12px;
}

.submitclass {
    float: left;
    width: 95%;
    margin-left: 20px;
    margin-top: 6px;
    background: #7b1314;
    padding: 2px 2%;
    border-radius: 4px;
}

input[type="submit"] {
    color: #fff;
    background: #7b1314 url(../images/arrow.png) 90% 10px no-repeat;
    border-top: 1px dashed #000;
    border-bottom: 1px dashed #000;
    padding: 2px 0;
    height: 30px;
    border-right: 0;
    border-left: 0;
    text-align: center;
    width: 100%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-transform: uppercase;
    font-size: 15px;
}

select::-ms-expand {
    display: none;
}

input[type="submit"]:hover {
    background-color: #7b1314;
    color: #fff;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #7c7c7c;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #7c7c7c;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #7c7c7c;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #7c7c7c;
}

.form_icon {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 0px;
}

.mob_acc {
    display: none;
}

.owl-controls {
    display: none !important;
}

.thx {
    text-align: center;
}

.walk {
    color: #626262;
    font-family: 'robotolight';
    font-size: 12px;
    line-height: 16px;
    padding: 10px 0;
}

.textclass {
    padding: 3px !important;
}

.no-padding-right {
    padding-right: 0px !important;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: #000 !important;
}

/*#tab2 .tag1  {
    letter-spacing: 0px;
    margin-bottom: 0px;
    margin-top: 4px !important;
}*/
#tab4 .tag1  {
    letter-spacing: 0px;
    margin-bottom: 0px;
    margin-top: 4px !important;
}
div.owl-item > li > img{
    width:100%;
}

.featureList li:before {
  content: "\2713";
  color: #7b1317;
      padding-right: 10px;
}
.featureList li:last-child {
 margin-bottom:10px;
}
.featureList li:first-child {
 margin-top:-10px;
}
.featureList
{
    color:#8c8484;
}


.wrp{
        float: right;
 
}



.tabs_btns li a:hover, .tabs_btns li a.active {
    /*background: #7B1314;*/
    color: #fff;
    text-decoration: none;
}

.tabs_btns li a {
    float: left;
    width: 100%;
    color: #818181;
    font-size: 12px;
    padding: 8px 0;
}

.tabs_btns li {
    float: left;
    width: 20% !important;
    font-family: 'robotoregular';
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
}
.tabs_btns li {
    float: left;
    width: 100%;
    border-bottom: 1px solid #adadad;
}
 


 