

@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);

body {
    background: #f4f4f4;
    font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.header-w {
    width: 100%;
    background: #414141;
    height: 50px;
}

p {
    font-size: 14px !important;
}

/*.container{
    background:#fff;
}*/
.header-w1 {
    width: 100%;
    background: #fff;
    height: 100px;
}



/*.banner-w-epicor {
    width: 100%;
    margin-top:80px;
    background: #fff;
    height: 329px;
    position: relative;
    background-image: url('/Landing/Images/Epicor-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}*/

.banner-w h1 {
    color: #fff;
    font-weight: bold;
    margin-left: 48px;
    margin-top: 40px;
    text-shadow: 2px 1px 2px rgba(150, 150, 150, 0.59);
}

.banner-w p {
    color: #fff;
    margin-left: 50px;
    font-size: 16px;
}

.banner-w a {
    padding: 12px 25px;
    background: #fff;
    text-align: center;
    width: 100%;
    color: #000;
    /*margin-left: 50px;*/
    margin-left: 20px;
    text-decoration: none;
}


.input-group-addon {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #fff;
    border: 0px solid #ccc;
    border-radius: 0px;
}

.form-control {
    border: 0px;
}

.form-group {
    margin-bottom: 7px;
}

.form-div {
    min-height: 53px;
    max-width: 425px;
    margin: auto;
    margin-top: -45px;
    padding: 0px 45px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.28);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.28);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.28);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ececec+0,ffffff+100 */
    background: rgb(236,236,236); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(236,236,236,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(236,236,236,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(236,236,236,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

table.frm-tbl {
    width: 100%;
}

    table.frm-tbl td {
    }

        table.frm-tbl td p {
            text-align: center;
            font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
        }

        table.frm-tbl td input {
            padding: 21px;
            font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
            box-shadow: none;
            border-radius: 0px;
            padding-left: 0px;
        }

            table.frm-tbl td input:focus {
                box-shadow: none;
            }

        table.frm-tbl td a {
            padding: 12px 0px;
            background: #595353;
            text-align: center;
            width: 100%;
            display: block;
            color: #fff;
            /*font-family: Arial;*/
            margin: 0px 0px;
        }

.conetnt-div {
    min-height: 100px;
    background: #fff;
    padding: 0px 35px;
}


    .conetnt-div p {
        font-size: 16px;
    }


table.icon-tbl {
    width: 100%;
}

    table.icon-tbl td {
    }

        table.icon-tbl td p {
            font-size: 14px;
            margin: 0px;
            font-weight: 500;
            margin-left: 15px;
            text-align: left !important;
        }


.mrgin-0 {
    margin: 0px;
}

.pading-0 {
    padding: 0px;
}

.footer-b {
    width: 100%;
    background: #414141;
    min-height: 150px;
}

.footer-c {
    width: 100%;
    background: #5b5b5b;
    min-height: 50px;
}


    .footer-c p {
        color: #fff;
        text-align: center;
        margin: 0px;
        line-height: 50px;
    }


table.tbl-footer {
    width: 100%;
}

    table.tbl-footer p {
        color: #fff;
        margin: 20px 0px;
    }

.foo-h2 {
    width: 100%;
    padding: 13px 0px;
    background: #5b5b5b;
    margin: 0px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 1.1 !important;
}


/*Epicor start here*/

.epicor-form {
    position: absolute;
    max-width: 500px;
    right: 0px;
    top: 0px;
    background: #fff;
}

.form-div-epicor {
    min-height: 53px;
    width: 425px;
    position: absolute;
    right: 13%;
    top: 50px;
    z-index: 100;
    margin: auto;
    padding: 0px 45px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.28);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.28);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.28);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ececec+0,ffffff+100 */
    background: rgb(236,236,236); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(236,236,236,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(236,236,236,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(236,236,236,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

table.frm-tbl-epicor {
    width: 100%;
}

    table.frm-tbl-epicor td {
    }

        table.frm-tbl-epicor td p {
            text-align: center;
            font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
        }

        table.frm-tbl-epicor td input {
            padding: 21px;
            font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
            box-shadow: none;
            border-radius: 0px;
            padding-left: 0px;
        }

            table.frm-tbl-epicor td input:focus {
                box-shadow: none;
            }


        table.frm-tbl-epicor td select {
            padding: 12px;
            width: 100%;
            border: 0px;
            font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
            box-shadow: none;
            border-radius: 0px;
            padding-left: 0px;
            outline: none;
        }

        /*table.frm-tbl-epicor td a {
            padding: 12px 0px;
            background: #8e2324;
            text-align: center;
            width: 100%;
            display: block;
            color: #fff;
            margin: 0px 0px;
        }*/

        /*.frm-btn {
    padding: 15px 0px;
    background: #831213;
    text-align: center;
    width: 100%;
    display: block;
    color: #fff !important;
    margin: 0px 0px;
}*/

        table.frm-tbl-epicor td a {
            font-size: 16px;
            text-align: center;
            color: #fff;
            line-height: 12px;
        }




            table.frm-tbl-epicor td a img {
                margin-top: 30px;
            }


            table.frm-tbl-epicor td a:hover {
                color: #8e2324;
                text-decoration: none;
            }

table.inf-icon-tbl {
    width: 100%;
}

    table.inf-icon-tbl td {
    }

        table.inf-icon-tbl td p {
            line-height: 15px;
            margin-top: 10px;
            font-size: 16px !important;
        }


.icons-heading {
    font-size: 17px;
    color: #414141;
    font-weight: 600;
}

    .icons-heading img {
        margin-right: 15px;
    }

.info-outer {
    max-width: 850px;
    min-height: 850px;
    /*background: rgb(236,236,236);*/
    margin: auto;
    background-image: url('/Landing/Images/info-bg-1.png');
    background-repeat: no-repeat;
    background-position: center top;
}

table.info-tbl {
    /*width: 754px;*/
}

    table.info-tbl td {
        padding: 0px;
    }

        table.info-tbl td p {
            font-size: 15px;
            color: #5b5b5b;
            text-align: center;
        }

.info-a {
    padding: 15px 25px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    background: #0db0c7;
    text-decoration: none;
    transition: background-color 0.5s ease;
}

    .info-a:hover {
        color: #fff;
        text-decoration: none;
        background-color: #414141;
    }

.info-b {
    padding: 15px 25px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    background: #8e2324;
    text-decoration: none;
    transition: background-color 0.5s ease;
}

    .info-b:hover {
        color: #fff;
        background: #414141;
        text-decoration: none;
    }


.box-div-s {
    width: 100%;
    height: 135px;
    border: 1px rgba(50, 50, 50, 0.28) solid;
    transition: background-color 0.5s ease;
    transition: border-color 0.5s ease;
}

.box-div {
    width: 195px;
    height: 135px;
    border: 1px rgba(50, 50, 50, 0.28) solid;
    transition: background-color 0.5s ease;
    transition: border-color 0.5s ease;
}


    .box-div:hover {
        background: rgb(236,236,236);
        background-color: rgb(236,236,236);
        border-color: rgb(239, 239, 239);
    }



.box-div-s a img {
    margin-top: 25px;
    text-align: center;
}

.box-div-s a p {
    text-align: center;
}



.xs-div-info {
    width: 100%;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
}


    .xs-div-info img {
        margin-bottom: 10px;
        margin-top: 15px;
    }

    .xs-div-info a {
        color: #414141;
        display: block;
    }


/*HCM Style start here*/

/*.banner-w-hcm {
    width: 100%;
    background: #fff;
    height: 329px;
    position: relative;
    background-image: url('/Landing/Images/hcm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
}*/


ul.listul {
    margin: 0px;
    padding: 0px;
    margin-left: 20px;
}

    ul.listul li {
        list-style-image: url('/Landing/Images/bullet.jpg');
        line-height: 25px;
    }

    /*CCT Style start here*/

/*.banner-w-cct {
    width: 100%;
    background: #fff;
    height: 329px;
    position: relative;
    background-image: url('/Landing/Images/cct-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
}*/


table.inftbl {
    /*width: 100%;*/
}


    table.inftbl td {
    }

    table.inftbl td span{
        font-weight:bold;
        margin-left:8px;
        font-size:13px;
        line-height:20px;
    }


       table.inftbl td p{
        font-weight:bold;
        margin-left:8px;
        font-size:13px;
        line-height:20px;
    }


/*table.inftbl td {
    }*/

.head-bx-w {
    padding:15px;
    width:100%;
    border-radius:5px;
    border:2px #8e2324 solid;
}


.head-bx-w p{
    color:#3a3a3a;
    text-align:left;
    font-weight:bold;
    margin-bottom:0px;
}


.head-bx-r {
    padding:15px;
    width:100%;
    border-radius:5px;
    background:#8e2324;
    border:2px #8e2324 solid;
}


.head-bx-r p{
    color:#fff;
    text-align:left;
    font-weight:bold;
    margin-bottom:0px;
}
    #optional-id
        {
            transform:scale(0.65);
            -webkit-transform:scale(0.65);
            transform-origin:0 0;
            -webkit-transform-origin:0 0;
            margin-bottom: -20px;
        }
     #g_captcha1
        {
            transform:scale(0.65);
            -webkit-transform:scale(0.65);
            transform-origin:0 0;
            -webkit-transform-origin:0 0;
        }
