
body h2
{
    font-family:"Arial Black", Gadget, sans-serif;
}
body h1
{
font-family:"Arial Black", Gadget, sans-serif;
}

div.wpcf7 {
	margin: 0;
	padding: 0;
}

div.wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
}

div.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	border: 0;
}

div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng {
	border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
	border: 2px solid #ffa500;
}

div.wpcf7-validation-errors {
	border: 2px solid #f7e700;
}

.wpcf7-form-control-wrap {
	position: relative;
}

span.wpcf7-not-valid-tip {
	color: #f00;
	font-size: 1em;
	display: block;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip {
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	border: 1px solid #ff0000;
	background: #fff;
	padding: .2em .8em;
}

span.wpcf7-list-item {
	margin-left: 0.5em;
}

.wpcf7-display-none {
	display: none;
}

div.wpcf7 img.ajax-loader {
	border: none;
	vertical-align: middle;
	margin-left: 4px;
}

div.wpcf7 div.ajax-error {
	display: none;
}

div.wpcf7 .placeheld {
	color: #888;
}
.features-list
{
    text-align: justify;
    list-style-type: disc;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}
.how-container {
  width: 100%;
  height: 21vw;
  margin-bottom: 30px; 
}

.left-container {
  float: left;
  height: 35vw;
  width: 30%;
}

.right-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 39vw;
  background: #fff;
  width: 70%;
  float: left;
}

.left-content {
  width: 100%;
  height: 21vw;
}

.right-content {
  max-width: 91%;
}
@media screen and (max-width: 999px) {
  .how-container {display: block; width: 100%; height: auto; text-align: center; margin: 0 auto 60px auto;}
  .left-container  {display: block; width: 100%; height: auto; float: none; text-align: center; margin: 15px auto 0px auto;}
  .right-container {display: block; width: 100%; height: auto; float: none; text-align: center; margin: 15px auto 0px auto;}
  .left-content {display: block; width: 100%; height: auto; float: none; text-align: center; margin: 15px auto 0px auto;}
  .right-content {display: block; width: 100%; height: auto; float: none; text-align: center; margin: 15px auto 0px auto; max-width: 90%;}
}
.overview-left-container {
  float: left;
  height: 35vw;
  width: 40%;
}

.overview-right-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 39vw;
  background: #fff;
  width: 60%;
  float: left;
}

.overview-left-content {
  width: 100%;
  height: 21vw;
}

.overview-right-content {
  max-width: 60%;
}
@media screen and (max-width: 999px) {
  .how-container {display: block; width: 100%; height: auto; text-align: center; margin: 0 auto 60px auto;}
  .overview-left-container  {display: block; width: 100%; height: auto; float: none; text-align: center; margin: 15px auto 0px auto;}
  .overview-right-container {display: block; width: 100%; height: auto; float: none; text-align: center; margin: 15px auto 0px auto;}
  .overview-left-content {display: block; width: 100%; height: auto; float: none; text-align: center; margin: 15px auto 0px auto;}
  .overview-right-content {display: block; width: 100%; height: auto; float: none; text-align: center; margin: 15px auto 0px auto; max-width: 90%;}
          #aboutus {
        height: 550px !important;
    }
}
.overview-para
{
    font-size: 17px;
    text-align: justify;
    font-family: "Open Sans", sans-serif;
}
#aboutus {
    background-image: url('../images/ofs-service.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 450px;
}
.img-para
{
    color: #fff;
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
}
.img-hdg
{
    color: #fff;
        margin-bottom: 15px;
        font-weight:800;
}
.box-description h3
{
     font-weight:800;
}
#features
{
    margin-left: 25px;
}
.banner-size
{
    height: auto;
}
.slider-hdg
{
    top: 5%;
}
.copy
{
background-color: rgba(0, 0, 0, 0.3215686274509804);
    text-align: justify;
        margin-top: 6%;
    padding: 10px 30px;
}
.featuresli
{
   text-align: justify;
    list-style-type: disc;
    font-size: 16px;
    line-height: 32px;
    font-family: "Open Sans", sans-serif;
}
.featuresli-potential
{
   text-align: justify;
    font-size: 16px;
    line-height: 32px;
    font-family: "Open Sans", sans-serif;
}
	.carousel-control.left
			{
				background: none;
			}
			.carousel-control.right
			{
				background: none;
			}

			.carousel-control
			{
				position: absolute;
				top: 45%;
				bottom: 0;
				left: 0;
				width: 15%;
				font-size: auto;
				color: #fff;
				text-align: center;
				opacity: 1;
				text-shadow: none;
			}
			.carousel-control:hover
			{
				color: #fff;
			}
			.carousel-indicators
			{
				bottom: -50px;
			}
			.carousel-indicators li
			{
				display: inline-block;
				width: 10px;
				height: 10px;
				margin: 1px;
				text-indent: -999px;
				cursor: pointer;
				background-color: #000\9;
				background-color: rgba(0,0,0,0);
				border: 1px solid #fff;
				border-radius: 50%;
			}
			.carousel-indicators .active
			{
				width: 12px;
				height: 12px;
				margin: 0;
				background-color: #fff;
			}
			.carousel-caption
			{
				position: absolute;
				right: 2% !important;
    top: 0%;
    left: 2% !important;
				z-index: 10;
				padding-top: 20px;
				padding-bottom: 20px;
				color: #fff;
				text-align: center;
				background: transparent;
			}
                        .carousel-inner
                        {
                            height: auto;
                        }
                        .carousel-inner1
                        {
                            height: 350px;
                            background-color: #ffd200
                        }
                        .slider-para
                        {
                            color: #000;
                            font-size: 15px;
                        }
                        span.multiselect-native-select {
	position: relative
}
                        .bannerform
                        {
                         position: absolute;
                        top: 20%;
                        width: 40%;
                        left: 58%;
                        background-color: rgba(0, 0, 0, 0.5098039215686274);
                        padding: 35px 35px;
                                            }

.all-caps{
    font-size: 30px;
    color: #ffd200;
    font-family: "Arial Black", Gadget, sans-serif;
    margin-bottom: 15px;
}
.banner-para
{
  width: 57%;
    color: #fff;
    font-size: 35px;
    text-align: left;
    line-height: 45px;
    margin-top: 8%;
    font-family: 'Raleway', sans-serif;
}
.banner-btn
{
    color: #ffd200;
    font-size:35px;
    font-family: "Arial Black", Gadget, sans-serif;
    float:left;
    font-weight: 800;
}
.banner-arrow
{
        width: 60px;
}
.banner-size1
{
    height:350px;
    background-color:yellow;
}
.testimonial{
    text-align: center;
}
.testimonial .pic{
    margin-bottom: 35px;
}
.testimonial .pic > img{
    border-radius: 50%;
}
.testimonial .testimonial-review{
    color:#000;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 14px;
}
.testimonial-review > .testimonial-description{
    font-style: italic;
    color:#000;
    margin-top:-30px;
    text-shadow:none;
}
.testimonial-title{
    color:#000;
    font-size: 17px;
    line-height: 22px;
    text-shadow:none;
}
.testimonial-title > small{
    color:#fff;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
}
.multiselect-native-select
{
    width:100% !important;
}
.potential-img
{
    margin-top:50px !important;
}
.Potential-hdg
{
    margin-bottom:22px;
    color:#000;
    font-family:"Arial Black", Gadget, sans-serif;
    font-weight:600;
}
@media only screen and (max-width: 980px) {
    .bannerform {
    top: 20%;
    width: 100%;
    left: 0%;
    background-color:#23231e ;
    padding: 35px 35px;
    position:relative;
}

    .multiselect-container
{
    left:auto !important;
}
    .featuresli {
    font-size: 14px;
    line-height:25px;
}
    .banner-para {
    width: 100%;
    color: #fff;
    font-size: 18px;
text-align: center;
    line-height: 25px;
    margin-top: 10%;
    font-family: 'Raleway', sans-serif;
}
    .banner-btn {
    color: #ffd200;
    font-size: 18px !important;
    font-family: "Arial Black", Gadget, sans-serif;
    float: inherit;
}
    .banner-arrow
{
        width: 40px;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
    .copy {

    }
}
@media only screen and (max-width: 768px) {
    .copy {

    }
    .img-hdg {
    margin-bottom: 15px;
    font-size: 20px;
    text-align:center;
}
    .img-para {
        font-size: 16px;
    }
	.left-content
    {
        display:none;
    }
	    .copy
{
background-color: rgba(0, 0, 0, 0.3215686274509804);
    padding: 5px 12px 5px;
}
        .testimonial-item {
    height: 451px;
}
}
@media only screen and (max-width: 640px) {
    .carousel-indicators
{
        bottom: -10px !important;
}
    .testimonial-review > .testimonial-description
    {
        font-size:14px;
        text-align:justify;
    }
    .img-para {
    font-size: 16px;
}
    .banner-para {
  width: 100%;
    color: #fff;
    font-size: 13px;
    text-align: center;
    line-height: 15px;
    margin-top: 14%;
    font-family: 'Raleway', sans-serif;
    background-color:rgba(0, 0, 0, 0.47058823529411764);
        padding-top: 2px;
}
    .alter-para
    {
margin-top: 23% !important;
    }
    .banner-btn {
        color: #ffd200;
    font-size: 13px !important;
    font-family: "Arial Black", Gadget, sans-serif;
    float: inherit;
    margin-top: -4px;
    background-color:rgba(0, 0, 0, 0.47058823529411764);
}
.img-overview
{
    margin-top:auto !important;
}
 .company-para
    {
        color:#fff !important;
    }
    .banner-arrow {
        width: 20px;
    }
    .all-caps {
    font-size: 18px;
    color: #ffd200;
    font-family: "Arial Black", Gadget, sans-serif;
}
    .wd-title-section_c h2 {
        font-size: 18px !important;
    }
    .wd-title-section_c {
    text-align: center;
    margin-bottom: 0px !important;
}
    .overview-para {
    font-size: 13px;
}
    .features-list {
        font-size: 15px;
        text-align: left;
    }
    .features3 {
    width: 103%;
        margin-bottom: 20px;
}
    .box-description p
    {
        margin-bottom:20px;
    }
    #features {
    margin-left: 0px;
}
    .Potential-hdg {
        font-size: 20px !important;
        text-align:left;
    }
    .checkbox {
    font-size: 16px !important;
}
.left-content
    {
        display:none;
    }
}
@media only screen and (max-width: 480px) {
.testimonial-item
{
    height:600px;
}
    .featuresli-potential {
        text-align: justify;
        font-size: 14px;
        line-height: 27px;
    }
    .img-para {
    font-size: 13px;
    line-height: 20px;
}
    #aboutus
    {
        height:600px !important;
    }
}
.checkbox {
    height: 100%;
    font-size: 19px;
    cursor: pointer;
    font-weight: 400;
    padding: 3px 20px 3px 40px;
}
.hdg-solution
{
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    margin-top: 15px;
    text-align: center;
}
.solution-head {
    color: #582335;
    font-weight: bold;
    font-size: 20px;
    text-align:center;
        font-family: "Varela Round", sans-serif;
}
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #f5d301;
 }
 #social-tw:hover {
     color: #f5d301;
 }
 #social-gp:hover {
     color: #f5d301;
 }
 #social-em:hover {
     color: #f5d301;
 }
 .icon-fb
 {
     color:#3b5998;
 }
 .icon-tw
 {
     color:#0084b4;
 }
 .icon-gplus
 {
     color:#0084b4;
 }
.icon-link
 {
     color:#0077B5;
 }
.hero-input
{
    font-size:17px !important;
    font-family: "Open Sans", sans-serif !important;

}
.btn-default
{
    font-size:19px !important;
}

.multiselect-container>li>a>label>input[type=checkbox] {
    margin-bottom: 5px;
    margin-top: 4px;
}
.footer-custom
{
    background-color:#000;
}
.footer-hdg
{
    color:#fff;
    font-family: 'Viga', sans-serif;
    margin-bottom:10px;
    margin-top:10px;
}
.img-overview
{
    margin-top:48px;
}
.company-para
{
    font-family: 'Viga', sans-serif;
    color:#908F8F;
    font-size:15px;
}
.right-content ul {
  list-style: none;
}

.right-content ul li:before {
  content:"\2713\0020";
}